
.article-headline {
  background-color: #62ACB5;
  color: white;
  font-size: 22px;
  font-weight: bold;
  height: 50px;
}

.article-link {
  font-size: 18px;

}

.article-link--unavailable {
  background-color: red;
}

.article-wrapper {
  border: 1px solid #777;
}

body {
  background-color: #eee;
}

#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}

#articles {
  display: inline-block;
  overflow: auto;
  width: 80%;
  height: 700px;
}

#notes {
  float: right;
  width: 30%;
}

textarea,
input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}

input {
  height: 36px;
  font-size: 24px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: blue;
  padding-right: 20px;
}

textarea {
  height: 200px;
  font-size: 18px;
}